{% extends 'base.html.twig' %}

{% block title %}Programs :{{ program.id }}
{% endblock %}

{% block navbar %}
	{% include './_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h3 class="mt-0">{{ program.title }}</h3>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<div class="text-light">
				<span>Saisons disponibles :</span>
				{% for season in program.seasons %}
			
					<a class="link-seasons p-1 text-light" href="{{ path('season_show') }}"</a>
				{% endfor %}
			</div>
		</div>

		<a href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
	</div>
{% endblock %}
